doctype
html.no-js

    head
        include ./includes/head
        block title
            | HTML starter template


    body

        <!--[if lt IE 8]>
        p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            |         your browser</a> to improve your experience
        <![endif]-->


        <!-- Add your site or application content here -->
        p Hello world! This is HTML starter template powered by HTML 5 Boilerplate


        include ./includes/footer

