doctype
html.no-js

    head
        title HTML starter template
        include ./includes/head

    body

        <!--[if lt IE 8]>
        p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            |         your browser</a> to improve your experience
        <![endif]-->


        <!-- Add your site or application content here -->
        .container.app
            .row.center
                .col-md-4.col-xs-12
                    a.hyperlink(href='http://192.168.0.152:8112', target='_blank', title='Deluge BitTorrent client')
                      img(src='assets/images/deluge-icon.png')
                .col-md-4.col-xs-12
                    a.hyperlink(href='http://192.168.0.152:9000', target='_blank', title='Portainer, docker web ui management')
                      img(src='assets/images/Portainer-logo.png')
                .col-md-4.col-xs-12
                    a.hyperlink(href='https://192.168.0.152:10000', target='_blank', title='Webmin, tooling management system')
                      img(src='assets/images/webmin-logo.png')


        include ./includes/footer

